<div id="<%= dom_id character %>">
  <p>
    <strong>Name:</strong>
    <%= character.name %>
  </p>

  <p>
    <strong>Mass:</strong>
    <%= character.mass %>
  </p>

  <p>
    <strong>Homeworld:</strong>
    <%= character.homeworld %>
  </p>

</div>
