<p style="color: green"><%= notice %></p>

<h1>Characters</h1>

<div id="characters">
  <div>
    <table>
      <tbody>
        <% @characters.each do |character| %>
          <tr class='flex flex-row'>
            <td>
              <%= character.name%>
            </td>
            <td>
              <%= character.mass  %>
            </td>
            <td>
              <%= character.homeworld  %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
